.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-default-grey);
}

.form {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin-bottom: 12px;
}

.cell {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 8px;
  border: solid 1px black;
  padding: 1rem 2rem;
  font-size: medium;
}
