.item {
  display: flex;
  justify-content: center;
}

.wrapperButton {
  display: inline-flex;
  padding: 24px;
  font-size: medium;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  background-color: var(--color-list);
  min-width: 12rem;
  cursor: pointer;
  border: black;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #856a5d;
  width: 2rem;
  height: 2rem;
}

.data {
  display: block;
}

.title {
  display: block;
}

.wrapper:hover {
  min-height: 9rem;
  min-width: 13rem;
}
