.info {
  gap: 0.5rem;
  padding: 0.5rem;
}

.info li {
  position: relative;
}
.button {
  background-color: var(--color-theme-main);
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s background-color;
  font-size: 32px;
  color: var(--color-default-gray);
}

.button:hover {
  background-color: var(--color-white);
}

.text {
  padding-right: 1rem;
}
