:root {
  --default-font-size: 18px;
  --color-default: #222020;
  --color-text-default: #222020;
  --color-default-grey: gray;
  --color-white: #ffffff;
  --color-theme-main: aquamarine;
  --color-theme-gray: #f4f4f4;
  --color-error: #c0392b;
  --color-list: #ccc9e7;
  --color-black: black;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  font-size: var(--default-font-size);
  color: var(--color-white);
  font-family: var(--font-family-default);
  background-color: var(--color-black);
}

body,
ol,
ul,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-default);
}
