.button {
  background-color: aquamarine;
  border: solid 1px black;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s background-color;
  font-size: medium;
}

.button:hover {
  background-color: var(--color-primary);
}
