.cell {
  display: flex;
  flex-direction: row;

  margin-top: -2rem;
}

.arrow {
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
}

.picker {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: solid 1px black;
  text-align: center;
  font-size: medium;
}
.desc {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
