.cell {
  display: flex;
  flex-direction: row;

  margin-top: -2rem;
}

.arrow {
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
}

.picker {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  margin-top: 1rem;
}
.desc {
  display: flex;
  flex-direction: row;
  gap: 8.6rem;
}
