.section {
  background-color: #2e3138;
  border-radius: 8px;
  margin: 1rem;
}

.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.text {
  padding-left: 1rem;
}
