.topBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--color-theme-main);
  color: black;
  width: 100%;
  max-width: 200rem;

  padding: 1rem;
}

.topBar > div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}
