.topBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  height: 20rem;
  width: 100%;
  max-width: 200rem;
  background: local;
  padding: 1rem;
}

.topBar > div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}
