.modal {
  position: fixed;
  left: 15vw;
  right: 15vw;
  top: 15vh;
  bottom: 15vh;
  background-color: #eee;
  color: #1b1b1b;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  border-radius: 30px;
  border: solid 2px black;
}

.p {
  font-size: large;
  padding-left: 5rem;
  padding-right: 3rem;
}
